.hot-deals {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;

  background-image: linear-gradient(rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
}

.hot-deals__header {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;

  color: #ff8d40;
  margin-bottom: 16px;
}

.hot-deals__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;
}

.hotdeals__item {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  flex-basis: calc((100% - 40px) / 2);
}

.hot-deals__option-item-button {
  padding: 2.5px 3px;

  font-weight: 300;
  font-size: 13px;
  line-height: 1.15;
  color: #ffffff;
}
.hot-deals__img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.hot-deals__options-list {
  position: absolute;
  top: 12.5px;
  left: 12px;
}
.hot-deals__option-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:nth-child(1) .hot-deals__option-item-button {
    background-color: #ff8d40;
  }

  &:nth-child(2) .hot-deals__option-item-button {
    background-color: #ff5449;
  }
}

.hot-deals__flavour-button {
  border-radius: 10px;
  padding: 5.6px;
  background-color: #ffede9;
}

.hot-deals__flavour-button-img {
  width: 19px;
  height: 19px;
}

.hot-deals__flavour-list {
  position: absolute;
  top: 10px;
  right: 9px;
}

.hot-deals__flavour-item:not(:last-child) {
  margin-bottom: 5px;
}
.hot-deals-menu__header {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  color: #ff8d40;
  margin-bottom: 40px;
}
.hot-deals-menu__price {
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  color: #191c1d;
}

.hot-deals-menu__pre-price {
  position: relative;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.15;
}

.hot-deals-menu__pre-price::before {
  content: '';

  border-bottom: 3px solid #ff8d40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: rotate(-9.55deg);
}

.pre-price-wrapper {
  max-width: 120px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.hot-deals-wrapper {
  padding: 25px 20px 10px 20px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
